@tailwind base;
@tailwind components;
@tailwind utilities;


/* Mengubah warna background scrollbar */
::-webkit-scrollbar {
  background-color: #686868;
  width: 4px;
  height: 4px;
}

/* Mengubah warna thumb (bagian yang dapat digerakkan) scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #5454FF;
  width: 4px;
  height: 4px;
}


/* Mengubah ukuran scrollbar track (area yang tidak dapat digerakkan) */
::-webkit-scrollbar-track {
  background-color: #111111;
  width: 4px;
  height: 4px;
}

.swiper-pagination-bullet-active {
  background-color: #FFF !important;
}

.swiper-pagination-bullet {
  background-color: #FFF !important;
}

@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1.2s infinite;
}

.select:hover {
  cursor: pointer;
}

.cursonone {
  pointer-events: none;
}

.bg111 {
  background-color: #111111;
  width: 100vw;
  height: 100vh;
}

.carousel img {
  pointer-events: none;
}

.carousel {
  cursor: grab;
}

.bg-case1 {
  background-image: url('/assets/bgshowcase/showcase1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-case2 {
  background-image: url('/assets/bgshowcase/showcase2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

/* floating animation */
.floating-element {
  position: relative;
  animation: floatAnimation 8s infinite ease-in-out;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(7deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}