@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mengubah warna background scrollbar */
::-webkit-scrollbar {
  background-color: #686868;
  width: 4px;
  height: 4px;
}

/* Mengubah warna thumb (bagian yang dapat digerakkan) scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #5454FF;
  width: 4px;
  height: 4px;
}


/* Mengubah ukuran scrollbar track (area yang tidak dapat digerakkan) */
::-webkit-scrollbar-track {
  background-color: #111111;
  width: 4px;
  height: 4px;
}

.swiper-pagination-bullet-active {
  background-color: #FFF !important;
}

.swiper-pagination-bullet {
  background-color: #FFF !important;
}

@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1.2s infinite;
}

.select:hover {
  cursor: pointer;
}

.bg111 {
  background-color: #111111;
  width: 100vw;
  height: 100vh;
}

.carousel img {
  pointer-events: none;
}

.carousel {
  cursor: grab;
}